button{
	background-color: blueviolet;
	border: none;
	cursor: pointer;
	padding: .5rem;
	margin-left: 1rem;
	color: white;
}
.main{
	text-align: center;
}
input{
	margin: .5rem;
	padding: .4rem;
}
p{
	font-size: 2rem;;
	text-align: center;
}
.jumbo{
	width:fit-content;
	background-color: brown;
	margin: 1rem auto;
	padding-right: .5rem;
	color: white;
}
.learning{
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}